* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Estilos do Cabeçalho */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header.hidden {
    top: -100px;
    transition: top 0.3s;
}

.esquerda {
    background-color: #333;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 60px;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

nav a:hover {
    color: darkgoldenrod;
}

.whatsapp-btn {
    background-color: #25D366;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.whatsapp-btn:hover {
    background-color: #1EBB5B;
    color: #555;
}

.whatsapp-btn:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(0.98);
}

/* Estilos das Seções */
.welcome-section img {
    width: 100%;
    margin-top: 103px;
    display: flex;
    height: auto;
}

.text-descricao {
    display: flex;
    height: 60px;
    justify-content: center;
    margin-top: auto;
}

.text-portfolio {
    display: flex;
    height: 100px;
    justify-content: center;
    font-size: 50px;
}

.content-row {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    gap: 30px;
}

.about-section,
.portfolio-section,
.history-section {
    flex: 1;
    padding: 20px;
}

.address-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-left: 0;
}

.portfolio-gallery {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.portfolio-gallery img {
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos do Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Botão de rolagem */
#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

#scrollBtn:hover {
    background-color: #555;
}

/* Responsivo */
@media (max-width: 768px) {
    .content-row {
        flex-direction: column;
    }

    .portfolio-gallery {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .portfolio-gallery img {
        width: calc(50% - 10px);
    }
}